# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        agricraft:water_channel_valve
        quark:obsidian_pressure_plate
        quark:nether_brick_fence_gate
        basemetals:adamantine_door
        basemetals:aquarium_door
        basemetals:brass_door
        basemetals:bronze_door
        basemetals:coldiron_door
        basemetals:copper_door
        basemetals:cupronickel_door
        basemetals:electrum_door
        basemetals:invar_door
        basemetals:lead_door
        basemetals:mithril_door
        basemetals:nickel_door
        basemetals:platinum_door
        basemetals:silver_door
        basemetals:starsteel_door
        basemetals:steel_door
        basemetals:tin_door
        basemetals:human_detector
        darkutils:timer
        darkutils:update_detector
        darkutils:sneaky_lever
        darkutils:sneaky_plate
        davincisvessels:crate_wood
        electricadvantage:laser_turret
        electricadvantage:laser_turret_evil
        electricadvantage:electric_furnace
        electricadvantage:electric_crusher
        electricadvantage:electric_fabricator
        electricadvantage:growth_chamber
        electricadvantage:electric_oven
        electricadvantage:electric_pump
        electricadvantage:electric_still
        electricadvantage:plastic_refinery
        enderio:blockSelfResettingLever10
        enderio:blockSelfResettingLever30
        enderio:blockSelfResettingLever60
        enderio:blockSelfResettingLever300
        enderio:blockPaintedFenceGate
        endertanks:blockEnderTank
        tconstruct:slime_channel
        mob_grinding_utils:fan
        mob_grinding_utils:saw
        mob_grinding_utils:xp_tap
        refinedstorage:detector
        toughasnails:temperature_coil
        cyclicmagic:password_block
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


